.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

mat-toolbar {
  width: 100%;
}

mat-card {
  width: 92%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

mat-form-field {
  width: 25rem;
}

.display-dialog {
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
}
